body {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

:root {
  background-color: #C5E7D0;
}

.search_btn {
  
}

h1 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 45px;
  margin-right: 45px;
  padding: 5%;
  background-color: #C03507;
  border-radius: 25px;
}

h2 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 45px;
  margin-right: 45px;
  padding: 5%;
  background-color: #FCA332;
  border-radius: 25px;
}

h3 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 45px;
  margin-right: 45px;
  padding: 5%;
  background-color: #C03507;
  border-radius: 25px;
}

.page-footer {
  background-color: #BF3103;
}

.card-title {
  background-color: rgb(0 0 0 / 50%);
}