

 header {
    display: flex;
    justify-content: center;
}

div.col.search{
    font-size: large;
    display: flex;
    justify-content: flex-start;
}

input.city{
    font-size: medium;
    display: flex;
    align-items: flex-end ;
}
